#fullpage {
  background: #191970;
}

.fp-viewing-intro {
  background: #191970;
}

.fp-viewing-projects {
  background: #191970;
}

.fp-viewing-experience {
  background: #191970;
}

.fp-viewing-education {
  background: #191970;
}

.fp-viewing-skills {
  background: #191970;
}

.fp-viewing-awards {
  background: #191970;
}

.fp-tooltip {
  color: #f5f5f5;
}

.section {
  background-size: cover;
  background: #191970;
  margin: auto;
  line-height: 1.6;
  max-width: 80%;
}

.showcase {
  clear: both;
}

.description {
  max-width: 60%;
}

.showcase img {
  max-width: 30%;
  float: right;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
